<div class="new-product">
<h3>NEW PRODUCT</h3>

<div class="new-at-electron">
  <h1>New At Electron</h1>
  <p>Diam scelerisque eleifend ultricies adipiscing interdum</p>
  <div class="line"></div>
</div>

<div class="featured-products">
 <div class="first-featured-product">
   <div class="first-product-detail">
      <h3>Refrigerator Side By Side</h3>
      <div class="price">
        <p>$500</p>
        <p>$399</p>
      </div>
      <p>Diam scelerisque eleifend ultricies adipiscing interdum</p>
      <button>Buy Now</button>
   </div>
   <div class="product-image">
    <img src="assets/images/product1.png" alt="product">
   </div>
 </div>
 
 <div class="second-featured-product">
  <div class="second-product-detail">
    <h3>New MacBook Pro 14” M2</h3>
    <div class="price">
      <p>$1299</p>
      <p>$999</p>
    </div>
    <p>Diam scelerisque eleifend ultricies adipiscing interdum</p>
    <button>Buy Now</button>
 </div>
   <div class="product-image">
    <img src="assets/images/product2.png" alt="product">
   </div>
 </div>
</div>
</div>