<div class="navbar">
 <div class="logo">
    <img type="" src="assets/logo.webp" alt="logo"/>
 </div>
 <div class="menu">
    <ul>
        <li>Home</li>
        <li>About Us</li>
        <li>Pages</li>
        <li>Blog</li>
        <li>Shop</li>
    </ul>
 </div>
 <div class="contact">
    <div class="headset-icon">
        <fa-icon [icon]="faHeadset"></fa-icon> 
    </div> 
    <p>(+021) 262 956 158</p>
    <button class="cart-button">
        <fa-icon [icon]="faCartShopping"></fa-icon> 
        <p>$ (0)</p>
    </button>
 </div>
</div>