.navbar{
    height: 76px;
    background-color: var(--dark-main-color);
    padding-left: 100px;
    padding-right: 100px;
    align-content: center;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    
    .logo{
        margin-top: 5px;

        &:hover{
            cursor: pointer;
        }

        img{
            width: 200px;
            height: 43px;
        }
    } 

    .menu{
        align-content: center;

        ul{
            
          display: flex;
          flex-direction: row;

          li{
            padding: 20px;

            &:hover{
                cursor: pointer;
            }
          }   
        } 
    }

    .contact{
        display: flex;
        justify-content: flex-end;
        align-items: center;

        .headset-icon{
            border-radius: 20px;
            background-color: var(--icon-background);
            width: 35px;
            height: 35px;
            align-content: center;
            text-align: center;
            margin-right: 10px;

            fa-icon{
                color: var(--bright-main-color);
            }
        }

        .contact-number{
            font-size: large;   
            width: 170px;     
        }

        .cart-button{
            margin-left: 20px;
            display: flex;
            justify-content: center;
            column-gap: 10px;
            align-items: center;
            background-color: var(--primary-color);
            border: none;
            border-radius: 5px;
            height: 33px;
            width: 93px;
            
            &:hover{
                cursor: pointer;
                opacity: 0.9;
            }

            p{
                color: var(--dark-main-color);
                padding-bottom: 2px;
            }
        }
    }

    .mobile-menu {
        display: none;
        padding-left: 20px;

        .checkbtn {
            font-size: 1.5rem;
            color: var(--bright-main-color);
            cursor: pointer;
           }

           .nav-mobile {
            display: none;
           }

           .nav-mobile {
            position: absolute;
            top: 4.5rem;
            right: 0;
            background: var(--dark-main-color);
            z-index: 1;
            width: 200px;
           }
           .nav-mobile a {
            color: var(--bright-main-color);
            padding: 1rem 1.5rem;
            display: block;
           }
           
    }

    /*We’ll use a clever trick with a checkbox input to toggle the visibility of the menu. 
    When the checkbox is checked, we’ll show the menu using the 
    #check:checked ~ .nav-mobile selector. */

    #check:checked ~ .nav-mobile {
        display: block;
       }

      
}

@media only screen and (max-width: 1200px) {
    .contact{
        .headset-icon{
            display: none;
        }

        .contact-number{
            display: none;
        }
    }
}

@media only screen and (max-width: 1077px) {
    .navbar{
        grid-template-columns: 4fr 4fr 1fr;

        .contact{
            justify-content: right;
        }

        .menu{
            display: none;
        }

        .logo{
            width: 180px;
        }

        .mobile-menu{
            display: flex;
            justify-content: flex-end;
            align-items: center;
        }
    }
}

@media only screen and (max-width: 700px) {
    .navbar{
        padding-left: 20px;
        padding-right: 20px;

        .logo{
            display: none;
        }

        .contact{
            justify-content: left;
        }
    }
}

@media only screen and (max-width: 480px) {
    
}