:root{
    --white: #FFFFFF;

    --primary-color:  #FEDB60;
    --secondary-color: #4C74DA;
    --text-primary-color: #777777;


    --dark-main-color: #212020;
    --bright-main-color: var(--white);

    --background-secondary-color: #CCCCCC;
    --badge-color: #8C1540;
    --bright-background: #F8F8F8;
    --bright-primary-color: #FEEEDF;
    --bright-secondary-color: #FFF4CC;

    --product-background: #dddada;
    --utility-background: #171717;


    --icon-background: #343131;

    --font-family-base: "Work Sans", serif;
    --font-family-mulish: "Mulish", serif;
}