:root{
    --white: #FFFFFF;

    --primary-color:  #FEDB60;
    --secondary-color: #4C74DA;


    --dark-main-color: #212020;
    --bright-main-color: var(--white);


    --icon-background: #343131;

    --font-family-base: "Work Sans", serif;
    --font-family-mulish: "Mulish", serif;
}