<div class="promo">
  <h3>PROMO</h3>
  
  <div class="promo-title">
    <h1>Hot Promo Today</h1>
    <p>Diam scelerisque eleifend ultricies adipiscing interdum</p>
    <div class="line"></div>
  </div>

  <div class="promo-products">
    <div class="promo-product-view-all">
      <h3>View all promo today just for you</h3>
      <p>Diam scelerisque eleifend ultricies adipiscing interdum</p>
      <button>View All Promo</button>
    </div>

    <div class="promo-product" *ngFor="let promoProduct of promoProducts">
      <div class="badge">
        <p>Sale!</p>
      </div>
       <div class="image">
        <img src="assets/images/laptop.png" alt="image">
       </div>
       <div class="promo-description">
         <p>Laptop Multimedia CZ50 - 16inc 5120</p>
         <div class="price">
           <p>$500</p>
           <p>$399</p>
         </div>
         <button>Add to cart</button>
       </div>
     </div>
  </div>
</div>