.brands{
    text-align: center;
    padding-left: 100px;
    padding-right: 100px;

    h3{
        font-family: var(--font-family-base);
        font-size: 1rem;
        font-weight: bold;
        color: var(--secondary-color);
        padding-bottom: 20px;
    }

    .shop-by-brands{
        display: flex;
        text-align: center;
        align-items: center;

        h1{
            color: var(--dark-main-color);
            font-size: 3rem;
            font-weight: bold;
            width: 100%;
        }

        .line{
           height: 1px;
           background-color: var(--background-secondary-color);
           width: 100%;
        }
    }

    .brand-items{
       padding-top: 50px;  
       overflow: hidden;
     
        .slide-track {
            animation: scroll 40s linear infinite;
            display: flex;
            gap: 50px;
            width: calc(250px * 6);

            .slide {
                img{
                    width: 182.5px;
                }
            }
        }   
    }
}

@keyframes scroll {
	0% { transform: translateX(0); }
	100% { transform: translateX(calc(-250px * 7))}
}