<div class="brands"> 
  <h3>BRANDS</h3>

  <div class="shop-by-brands">
   <div class="line"></div>
   <h1>Shop By Brands</h1>
   <div class="line"></div>
  </div>

  <div class="brand-items">
    <div class="slide-track">
       <div class="slide">
        <img src="assets/svg/brand1.svg" alt="brand">
       </div>
       <div class="slide">
        <img src="assets/svg/brand2.svg" alt="brand">
       </div>
       <div class="slide">
        <img src="assets/svg/brand3.svg" alt="brand">
       </div>
       <div class="slide">
        <img src="assets/svg/brand4.svg" alt="brand">
       </div>
       <div class="slide">
        <img src="assets/svg/brand5.svg" alt="brand">
       </div>
       <div class="slide">
        <img src="assets/svg/brand6.svg" alt="brand">
       </div>
    </div>
  </div>
</div>
