<div class="footer">
  <div class="links">
   <div class="contact">
    <h4>Contact Us</h4>
    <ul>
      <li>Stret</li>
      <li>contacelectron.com</li>
      <li>(+021) 123456789</li>
      <li>
        <img src="assets/logo.webp" alt="logo">
      </li>
    </ul>
   </div>

   <div class="shop-by">
    <h4>Shop By</h4>
    <ul>
      <li>Laptop</li>
      <li>Audio</li>
      <li>Televisions</li>
      <li>Mobiles</li>
    </ul>
   </div>

   <div class="information">
    <h4>information</h4>
    <ul>
      <li>About Us</li>
      <li>Customer Service</li>
      <li>New Collection</li>
      <li>Privacy Policy</li>
    </ul>
   </div>

   <div class="customer-service">
    <h4>Customer Service</h4>
    <ul>
      <li>Search Terms</li>
      <li>Orders and Returns</li>
      <li>Store Locations</li>
      <li>Contact Us</li>
    </ul>
   </div>

   <div class="news-letter">
    <h4>Customer Service</h4>
    <p>Receive our latest updates about our products and promotions</p>
    <div class="subscribe">
      <input type="text" placeholder="Email address">
      <button>Subscribe</button>
    </div>

    <h4>Payment Methods</h4>
    <div class="payment-methods">
      <img src="assets/svg/pay1.svg" alt="image">
      <img src="assets/svg/pay2.svg" alt="image">
      <img src="assets/svg/pay3.svg" alt="image">
      <img src="assets/svg/pay4.svg" alt="image">
      <img src="assets/svg/pay5.svg" alt="image">
      <img src="assets/svg/pay6.svg" alt="image">
      <img src="assets/svg/pay7.svg" alt="image">
      <img src="assets/svg/pay8.svg" alt="image">
    </div>
   </div>
  </div>
  <div class="copyright">
    <p>© 2025 Electron. All right reserved</p>
    <div class="social-media">
      <img src="assets/svg/twitter.svg" alt="image">
      <img src="assets/svg/twitter.svg" alt="image">
      <img src="assets/svg/instagram.svg" alt="image">
      <img src="assets/svg/youtube.svg" alt="image">
    </div>
  </div>
</div>