<div class="hero">
<div class="banner">
 <div class="first-banner">
   <div class="banner-image">
    <img src="assets/images/hero.png" alt="banner-image">
   </div>

   <div class="description">
    <h6>SPECIAL DISCOUNT</h6>
    <H1>Brand New Sales Special Editions</H1>
    <button>Shop Now</button>
   </div>
 </div>
 <!-- <div class="second-banner"></div>
 <div class="third-banner"></div> -->
</div>
<div class="buttons">
</div>

<div class="dots">
 <div class="dot-item"></div>
 <div class="dot-item"></div>
 <div class="dot-item"></div>
</div>
</div>