.utilities{
    display: flex;
    justify-content: space-between;
    background-color: var(--utility-background);
    padding: 20px 150px;
    margin-top: 0px;

    .utility{  
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
       
        
      img{
        width: 48px;
      }

      p{
          font-size: 1.25rem;
          font-weight: bold;
          margin-top: 10px;
      }
    }

    .utility:first-child{
        margin-top: -10px;
    }
}